.navtext {
  font-family: var(--font-oxygen);
  font-weight: 700;
  color: #d62828;
  transition: color 0.5s;
}

.navtext:hover {
  color: #fb5607;
}

.collapseButton {
  background-color: #d62828;
  transition: background-color 0.5s;
}

.collapseButton:hover {
  background-color: #fb5607;
}